.\CustomRoles/CM-1902/
.\CustomRoles/CM-2002/
.\CustomRoles/CM-2103/
.\CustomRoles/DemoCustomRole/
.\CustomRoles/Exchange2013/
.\CustomRoles/Exchange2016/
.\CustomRoles/Exchange2019/
.\CustomRoles/LabBuilder/
.\CustomRoles/MDT/
.\CustomRoles/NuGetServer/
.\CustomRoles/Office2019/
.\CustomRoles/PowerShellWebAccess/
.\CustomRoles/ProGet5/
.\CustomRoles/README.md
.\CustomRoles/SCCM/
.\CustomRoles/WindowsAdminCenter/
.\ISOs/
.\OSUpdates/
.\PostInstallationActivities/DnsAndTrustSetup/
.\PostInstallationActivities/DotNet35Client/
.\PostInstallationActivities/PrepareFirstChildDomain/
.\PostInstallationActivities/PrepareRootDomain/
.\PostInstallationActivities/README.md
.\PostInstallationActivities/SetupDscClients/
.\PostInstallationActivities/SetupDscPullServer/
.\PostInstallationActivities/SqlServer/
.\PostInstallationActivities/WebSiteDefaultContent/
.\SampleScripts/
.\SoftwarePackages/Delinea.RabbitMq.Helper.zip
.\SoftwarePackages/Delinea/
.\SoftwarePackages/README.md
.\SoftwarePackages/RMQ/Delinea.RabbitMq.Helper.zip
.\SoftwarePackages/RMQ/PowerShell-7.4.6-win-x64.msi
.\SoftwarePackages/RMQ/dotnet-hosting-9.0.4-win.exe
.\SoftwarePackages/RMQ/otp_win64_27.3.3.exe
.\SoftwarePackages/RMQ/rabbitmq-server-4.1.0.exe
.\SoftwarePackages/RMQ/windowsdesktop-runtime-8.0.11-win-x64.exe
.\SoftwarePackages/ReportBuilder.msi
.\SoftwarePackages/SQL2022/
.\SoftwarePackages/ndp48-x86-x64-allos-enu.exe
.\SoftwarePackages/vcredist_x64_2015.exe
.\SoftwarePackages/vcredist_x64_2017.exe
.\SoftwarePackages/vcredist_x86_2015.exe
.\SoftwarePackages/vcredist_x86_2017.exe
.\Tools/