CustomRoles/CM-1902/
CustomRoles/CM-2002/
CustomRoles/CM-2103/
CustomRoles/Delinea_SSOP_Web/Delinea_SSOP_Web.tests.ps1
CustomRoles/DemoCustomRole/
CustomRoles/Exchange2013/
CustomRoles/Exchange2016/
CustomRoles/Exchange2019/
CustomRoles/LabBuilder/
CustomRoles/MDT/
CustomRoles/NuGetServer/
CustomRoles/Office2019/
CustomRoles/PowerShellWebAccess/
CustomRoles/ProGet5/
CustomRoles/README.md
CustomRoles/SCCM/
CustomRoles/WindowsAdminCenter/
DSCConfigurations/
ISOs/
OSUpdates/
PostInstallationActivities/DnsAndTrustSetup/
PostInstallationActivities/DotNet35Client/
PostInstallationActivities/PrepareFirstChildDomain/
PostInstallationActivities/PrepareRootDomain/
PostInstallationActivities/README.md
PostInstallationActivities/SetupDscClients/
PostInstallationActivities/SetupDscPullServer/
PostInstallationActivities/SqlServer/
PostInstallationActivities/WebSiteDefaultContent/
SampleScripts/
SoftwarePackages/
Temp/
Tools/